ul{
  list-style: none;
}
.cards{
  padding: 1rem;
}
body{
  flex-wrap: wrap;
}
.mmm{
  margin-top: 4rem;
}
.top > h1{
  color: black;
}
.rain > h1{
  color: black;
}
.tap{
  margin-top: 3rem;
}
h2 > ul{
  align-items: center;
}
ul{
  cursor: pointer;
}
.top{
  margin-top: 4rem;
}
.rain{
  margin-top: 4rem;
}
.dibu{
  padding: 1.2rem;
}
.metroo{
  margin-top: 4rem;
  padding: 1.8rem;
}
.wras{
  flex-wrap: wrap;
}
.metroo{
  font-size: 43px;
  justify-content: center;
  cursor: pointer;
}
.ick{
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 1000;
}